.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.main-header h1 {
  color: #00463d;
  font-size: 2.5rem;
}
.main-section h2 {
  font-size: 3rem;
  color: #00975a;
}
.main-section button {
  padding: 10px 30px;
  color: white;
  border: none;
  cursor: pointer;
}
#increment {
  background-color: #00975a;
  margin-right: 15px;
}
#decrement {
  background-color: red;
}
#reset {
  background-color: gray;
  display: block;
  margin: auto;
  margin-top: 20px;
}
